{
    "LRH/Grayson-Lake.Flow.Inst.15Minutes.0.OBS ": "//Grayson-Lake/Flow//15MIN/OBS/",
    "LRH/Grayson-Outflow.Flow.Inst.15Minutes.0.OBS ": "//Grayson-Outflow/Flow//15MIN/OBS/",
    "LRH/GraysonKY.Flow.Inst.15Minutes.0.OBS ": "//GraysonKY/Flow//15MIN/OBS/",
    "LRH/Leon.Flow.Inst.15Minutes.0.OBS ": "//Leon/Flow//15MIN/OBS/"
}
