LRH/Grayson-Lake.Elev.Inst.15Minutes.0.OBS://GRAYSON-LAKE/ELEV//15MIN/OBS/
LRH/Grayson-Lake.Flow.Inst.15Minutes.0.OBS ://GRAYSON-LAKE/FLOW//15MIN/OBS/
LRH/Grayson-Outflow.Stage.Inst.15Minutes.0.OBS://GRAYSON-OUTFLOW/STAGE//15MIN/OBS/
LRH/Grayson-Outflow.Flow.Inst.15Minutes.0.OBS ://GRAYSON-OUTFLOW/FLOW//15MIN/OBS/
LRH/GraysonKY.Precip.Inst.1Hour.0.OBS://GRAYSONKY/PRECIP//1HOUR/OBS/
LRH/GraysonKY.Stage.Inst.15Minutes.0.OBS://GRAYSONKY/STAGE//15MIN/OBS/
LRH/GraysonKY.Flow.Inst.15Minutes.0.OBS ://GRAYSONKY/FLOW//15MIN/OBS/
LRH/Leon.Stage.Inst.15Minutes.0.OBS://LEON/STAGE//15MIN/OBS/
LRH/Leon.Flow.Inst.15Minutes.0.OBS://LEON/FLOW//15MIN/OBS/
LRH/Ashland.Stage.Inst.15Minutes.0.OBS://ASHLAND/STAGE//15MIN/OBS/
LRH/Ashland.Flow.Inst.15Minutes.0.OBS://ASHLAND/FLOW//15MIN/OBS/
LRH/GreenupLD-Pool.Stage.Inst.15Minutes.0.OBS://GREENUPLD-POOL/STAGE//15MIN/OBS/
LRH/GreenupLD-Pool.Flow.Inst.15Minutes.0.OBS://GREENUPLD-POOL/FLOW//15MIN/OBS/
LRH/GreenupLD-Tailwater.Stage.Inst.15Minutes.0.OBS://GREENUPLD-TAILWATER/STAGE//15MIN/OBS/
LRH/GreenupLD-Tailwater.Flow.Inst.15Minutes.0.OBS://GREENUPLD-TAILWATER/FLOW//15MIN/OBS/
LRH/GreenupLD.Precip.Total.1Hour.1Hour.OBS://GREENUPLD/PRECIP//1HOUR/OBS/