AsciiSerializer=4
{=java.util.Hashtable
ID=0
{MAP
STR=Flow
{=hec.iconlocationset.model.IconLayerItem
ID=1
FLD=name
STR=Flow
FLD=description
STR=
FLD=moduleState
I=0
}
STR=Precip
{=hec.iconlocationset.model.IconLayerItem
ID=2
FLD=name
STR=Precip
FLD=description
STR=
FLD=moduleState
I=0
}
STR=NWSFCST
{=hec.iconlocationset.model.IconLayerItem
ID=3
FLD=name
STR=NWSFCST
FLD=description
STR=
FLD=moduleState
I=0
}
STR=Primary Data Validation
{=hec.iconlocationset.model.IconLayerItem
ID=4
FLD=name
STR=Primary Data Validation
FLD=description
STR=
FLD=moduleState
I=0
}
STR=Stage/Elev
{=hec.iconlocationset.model.IconLayerItem
ID=5
FLD=name
STR=Stage/Elev
FLD=description
STR=
FLD=moduleState
I=0
}
STR=All
{=hec.iconlocationset.model.IconLayerItem
ID=6
FLD=name
STR=All
FLD=description
STR=
FLD=moduleState
I=0
}
STR=Primary Data Visualization
{=hec.iconlocationset.model.IconLayerItem
ID=7
FLD=name
STR=Primary Data Visualization
FLD=description
STR=
FLD=moduleState
I=0
}
STR=Script
{=hec.iconlocationset.model.IconLayerItem
ID=8
FLD=name
STR=Script
FLD=description
STR=
FLD=moduleState
I=0
}
}MAP
}
