{
    "LRH/Grayson-Outflow.Stage.Inst.15Minutes.0.OBS": "//Grayson-Outflow/Stage//15MIN/OBS/",
    "LRH/GraysonKY.Stage.Inst.15Minutes.0.OBS": "//GraysonKY/Stage//15MIN/OBS/",
    "LRH/Leon.Stage.Inst.15Minutes.0.OBS": "//Leon/Stage//15MIN/OBS/",
    "LRH/Ashland.Stage.Inst.15Minutes.0.OBS": "//Ashland/Stage//15MIN/OBS/",
    "LRH/GreenupLD-Pool.Stage.Inst.15Minutes.0.OBS": "//GreenupLD-Pool/Stage//15MIN/OBS/",
    "LRH/GreenupLD-Tailwater.Stage.Inst.15Minutes.0.OBS": "//GreenupLD-Tailwater/Stage//15MIN/OBS/"
}